<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.khuong.myweather">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ndk"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ndk"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyWeather"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".activity.PopUpWeather"></activity>
        <activity android:name=".activity.FragmentActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.WeatherService" />
    </application>

</manifest>